@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-high-contrast: rgb(49, 49, 49);
  --text-medium-contrast: rgb(99, 94, 105);
  --text-low-contrast: rgb(116, 109, 118);
  --detail-high-contrast: rgb(192, 192, 192);
  --detail-medium-contrast: rgb(234, 234, 234);
  --detail-low-contrast: rgb(240, 240, 242);
}
body{
  overflow-x: hidden;
}
.signin {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.signin {
  background-image: url("../public/images/singinbg.png");
}

main {
  background-color: #F3F4F8;
}

.read-quill .ql-container.ql-snow {
  border: none;
}

.write-quill .ql-container .ql-editor {
  min-height: 250px;
}

.embla {
  max-width: 97%;
  position: relative;
  margin: 0px 10px;
  --slide-height: 19rem;
  --slide-spacing: 0.2rem;
  --slide-size: 100%;
}

.embla__viewport {
  overflow: hidden;
  border-radius: 1rem;
  padding: 10px 0px;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  max-width: 516px;
  padding-left: var(--slide-spacing);
}

.embla__slide__number {
  box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 1rem;
  padding: 20px;
  font-weight: 600;
  min-height: var(--slide-height);
}


.embla__button {
  -webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 34px;
  height: 34px;
  z-index: 1;
  color: #140153;
  display: flex;
  align-items: center;
  justify-content: center;
}

.embla__button:disabled {
  color: var(--detail-high-contrast);
}

.embla__button__svg {
  width: 40%;
  height: 40%;
}

.embla__button--prev {
  position: absolute;
  right: 6%;
  top: -10%;
}

.embla__button--next {
  position: absolute;
  right: 3%;
  top: -10%;
}

.aboutus {
  background-image: url("../public/images/about-us-bg.png");
  background-position: right;
  background-repeat: no-repeat;
  /* height: 512px; */
}

.chooseUsDiv {
  position: relative;
}

.chooseUsDiv .chooseUsDivText {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  display: none;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  z-index: -1px;
}
.chooseUsDivText p{
  position: absolute;
  top: 45%;
  font-weight: 800;
  font-size: 2rem;
  animation:animate 0.6s ease ;
}
.chooseUsDiv:hover .chooseUsDivText{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.slide-in{
  animation: slide .6s linear;
}
@keyframes slide {
  0%{
    right: -200px;
  }
  100% {
    right: 0px;
  }
}
@keyframes animate {
  0% {
    opacity: 0;
    top: 0%;
  }
  100% {
    opacity: 1;
    top: 45%;

  }
}
@media (max-width:600px) {
  body {
    overflow-x: hidden;
  }

  .embla {
    margin: 0px 3%;
    --slide-size: 100%;
  }

  /* .embla__button {
    width: 2rem;
    margin: 0 -32px;
  } */
  .embla__button--prev {
   
    right: 9%;
    
  }
  .embla__viewport {
    padding:0px;
  }
}

.css-jgls56-MuiButtonBase-root-MuiPickersDay-root:not(.Mui-selected) {
  border: transparent;
}
.blogs-content h1, .blogs-content h2, .blogs-content h3{
  font-weight: bold;
}
.blogs-content h2{
  font-size: 1.875rem;
  margin: 1rem 0;
}

.blogs-content h3{
  font-size: 1.25rem;
}

.blogs-content ul li{
  list-style: disc;
  margin-left: 10px;
}