@tailwind base;
@tailwind components;
@tailwind utilities;


.signin
{
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.signin {
  background-image: url("../public/images/singinbg.jfif");
}